form {
  display: flex;
  max-height: 100%;

  > div {
    width: 50%;
    margin: 0 10px;
  }

  input[type="checkbox"] {
    display: inline-block;
    background: red;
  }

  label.checkbox {
    display: inline;
    margin: 0 8px;
  }
}
