form {

  .rdw-editor-wrapper {
    min-height: 300px;
    border: 1px solid #dedede;
    border-radius: 5px;
  }

  max-height: 100%;

  div.flex {
    display: flex;
  }

  div.col-right {
    width: 30%;
    margin: 0 10px;
    border-left: 2px solid #8888881a;
    padding-left: 8px;
  }

  div.col-left {
    width: 70%;
    margin: 0 10px;
  }

  .checkbox-wrapper {
    white-space: nowrap;
  }

  input.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background: #e2e2e2;
  }

  input[type="checkbox"] {
    display: inline-block;
    background: red;
  }

  label.checkbox {
    display: inline;
    margin: 0 8px;
    color: #1cb864;
  }

  .column label {
    color: firebrick;
  }

  .name-input {
    font-size: 16px;
    background: #e6f38a;
    font-weight: 500;
  }

  .short-input {
    width: 50%;
    display: inline-block;

    input, label, select {
      width: 88%;
      display: inline-block;
    }
  }

  .price-input {
    width: 100px !important;
    margin-left: 5px;
  }


  input, select {
    background: #f0f0f0;
  }

  td label {
    margin: 0;
  }

  .hover-td:hover{

    cursor: pointer;
    .myLabelClass{
      cursor: pointer;
    }
  }

  .player-row{
    width: 100%;
  }
}
