@import '~primereact/components/dialog/Dialog.css';

.p-dialog-mask {
  &.p-component-overlay {
    background-color: rgba(29, 37, 50, 0.9);
  }
}

.p-dialog {
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid #c8c8c8;

  .p-dialog-header {
    border-bottom: 1px solid #c8c8c8;
    background: #f4f4f4;
    color: var(--text-color);
    padding: 1rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    .p-dialog-title {
      font-weight: 700;
      font-size: 1rem;
    }

    .p-dialog-header-icon {
      width: 2rem;
      height: 2rem;
      color: #a6a6a6;
      border: 0 none;
      background: transparent;
      border-radius: 50%;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
      margin-right: 0.5rem;
      color: #848484;

      &:enabled {
        &:hover {
          color: var(--primary-color);
          border-color: transparent;
          background: transparent;
          color: var(--text-color);
        }
      }

      &:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem #8dcdff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .p-dialog-content {
    background: #ffffff;
    color: var(--text-color);
    padding: 1rem;
  }

  .p-dialog-footer {
    border-top: 1px solid #c8c8c8;
    background: #ffffff;
    color: var(--text-color);
    padding: 0.571rem 1rem;
    text-align: right;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    button {
      margin: 0 0.5rem 0 0;
      width: auto;
    }
  }
}

.p-dialog-mask {
  &.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
